@import "tailwindcss";

.main-container {
  height: calc(100vh);
  width: calc(100vw);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
  clip-path: polygon(
    20px 35px,
    35px 20px,
    calc(100% - 200px) 20px,
    calc(100% - 200px + 15px) 35px,
    calc(100% - 200px + 15px) 60px,
    calc(100% - 200px + 30px) calc(40px + 35px),
    calc(100% - 35px) calc(40px + 35px),
    calc(100% - 20px) calc(60px + 30px),
    calc(100% - 20px) calc(100% - 20px - 70px - 15px),
    calc(100% - 35px) calc(100% - 70px - 20px),
    calc(100% - 70px + 15px) calc(100% - 70px - 20px),
    calc(100% - 70px) calc(100% - 70px + 15px),
    calc(100% - 70px) calc(100% - 15px),
    calc(100% - 70px - 15px) 100%,
    15px 100%,
    0 calc(100% - 15px)
  );
}

.menu-button {
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
  background-color: #888;
  z-index: 10;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 6vh;
  padding: 10px;
}
