@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

* {
  scroll-behavior: smooth;
  font-family: "Poppins", "Segoe UI";
}

.scrollbar-seting {
  scrollbar-width: none;
}
.scrollbar-seting ::-webkit-scrollbar{
  display:"none"
}

body {
  background-image: var(--bg-color);
  color: white;
}

nav {
  background-image: var(--nav-bg-color);
  z-index: 1000;
}

/* Navbar start*/

.side-menu {
  clip-path: polygon(
    80px 0,
    100% 0,
    100% 100%,
    80px 100%,
    0 calc(100% - 80px),
    0 80px
  );
  animation: menu-open 0.3s linear;
}

@keyframes menu-open {
  0% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(0%);
  }
}

/* Navbar end*/

/* Hero Page start */

.profile-img {
  clip-path: polygon(
    0 0,
    70px 0,
    0px 70px,
    0px 85px,
    85px 0px,
    100% 0,
    100% calc(100% - 160px),
    calc(100% - 160px + 40px) calc(100% - 160px + 40px),
    calc(100% - 160px) 100%,
    0 100%
  );
  z-index: 1;
}

.typing-effect {
  border-right: 5px solid white;
  padding-right: 5px;
  overflow: hidden;
  animation: typing 6s steps(18) infinite 3s, cursor 0.5s infinite;
}

@keyframes typing {
  0% {
    width: 300px;
  }
  50% {
    width: 0.01%;
  }
  90% {
    width: 300px;
  }
  100% {
    width: 300px;
  }
}

@keyframes cursor {
  100% {
    border-color: rgba(0, 0, 0, 0);
  }
}

.hero-projects {
  clip-path: polygon(46px 8px, calc(100% - 5px) 100%, 7px 100%);
  padding-top: 60px;
  padding-right: 20px;
  align-items: center;
}

.hero-projects:hover {
  transform: scale(1.1);
}

.hero-resume {
  position: absolute;
  clip-path: polygon(5px 100%, 56px 17px, 100% 100%);
  bottom: 45px;
  transform: rotate(45.5deg);
  left: 66px;
  padding-top: 55px;
  padding-right: 15px;
  align-items: center;
}

.hero-resume:hover {
  transform: rotate(45.5deg) scale(1.1);
}

/* Hero Page end */

/* About Page start */

.about-profile {
  clip-path: polygon(
    50px 0,
    50px 120px,
    60px 140px,
    60px 0px,
    calc(100% - 60px) 0,
    calc(100% - 60px) 80px,
    calc(100% - 50px) 80px,
    calc(100% - 50px) 0,
    100% 50px,
    100% calc(100% - 50px),
    calc(100% - 50px) 100%,
    50px 100%,
    0 calc(100% - 50px),
    0 50px
  );
  z-index: 1;
  border-radius: 65px;
}

.spin-effect-about::before {
  content: "";
  position: absolute;
  z-index: 0;
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  clip-path: polygon(
    50px 0,
    calc(100% - 50px) 0,
    100% 50px,
    100% calc(100% - 50px),
    calc(100% - 50px) 100%,
    50px 100%,
    0 calc(100% - 50px),
    0 50px
  );
  background: conic-gradient(
    from var(--angle),
    #ffffff 10%,
    #5e5ee8 40%,
    #6a6af1 60%,
    #9595eb 90%,
    #fafafb 100%
  );
  right: -5px;
  top: -5px;
  border-radius: 68px;
  animation: spin-slow 3s linear infinite;
}

/* About Page end */

/* Projects Page start */

.project-img {
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 80px),
    calc(100% - 80px) 100%,
    calc(100% - 70px) 100%,
    100% calc(100% - 70px),
    100% 100%,
    0 100%
  );
}

.hover-project:hover .project-name {
  display: block;
}
.project-chang-effect {
  animation: project-chang 0.5s linear;
}

@keyframes project-chang {
  0% {
    transform: scale(0.3) translateY(350px);
  }
  40% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1) translateY(0px);
  }
}

/* Projects Page end */

.spin-effect-lg::before {
  content: "";
  position: absolute;
  z-index: 0;
  height: calc(100% + 20px);
  width: calc(100% + 20px);
  background: conic-gradient(
    from var(--angle),
    #efefff 10%,
    #00008f 30%,
    #242498 50%,
    #4d4d98 70%,
    #fafafb 100%
  );
  right: -10px;
  top: -10px;
  border-radius: 30px;
  animation: spin-slow 5s linear infinite;
}

.spin-effect-sm::before {
  content: "";
  position: absolute;
  z-index: 0;
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  background: conic-gradient(
    from var(--angle),
    #ffffff 10%,
    #5e5ee8 40%,
    #6a6af1 60%,
    #9595eb 90%,
    #fafafb 100%
  );
  right: -5px;
  top: -5px;
  border-radius: 20px;
  animation: spin-slow 3s linear infinite;
}

.hover-effect:hover {
  transform: scale(1.1);
}

.hover-effect-y:hover {
  transform: scaleY(1.05);
}

.border-effect {
  animation: border-eff 3s linear infinite;
}

@keyframes border-eff {
  0% {
    border-color: #ffffff;
  }
  50% {
    border-color: #5353f4;
  }
  100% {
    border-color: #ffffff;
  }
}

@keyframes spin-slow {
  to {
    --angle: -360deg;
  }
}
