@import "tailwindcss";

:root{
    --nav-bg-color:linear-gradient(90deg,rgb(151, 187, 250),rgb(93, 166, 255),rgb(151, 187, 250));
    --bg-color:linear-gradient(120deg,rgb(0, 0, 0) ,rgb(50, 70, 244),rgb(0, 0, 0),rgb(1, 78, 244),rgb(0, 0, 0));     
}